

body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    direction: rtl;




  }

.container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    background-color: #ffffff;
    height: 70px;
    background-color: white; 
  }
  .containers {
    text-align: center;
   
    margin-left: 1000px;
    margin-bottom: 50%;
}

  
  .image-container img {
    width: 600px;
    
  }
  .right-image {
    order: 1; 
    width: 600px;
  }

  img {
    width: 250px;
   
  align-self: right;
    
  }

ul {
    list-style-type: none;
    padding: 10px;
    background-color: midnightblue;
  }
  
  li {
    display: inline;
    margin-right: 20px;

  }
  a:hover{
    color:goldenrod;
  }

  
  a {
    color:#ffffff;
    text-align: center;
    padding: 50px;
    text-decoration: none;
  }
 button {
background-color: midnightblue;
color: white;
transition: background-color 0.5s ease, transform 0.3s ease;


 }
 button:hover{
  color:goldenrod;
  scale: 115%;
  background-color:navy;
  transform: scale(1.1); 
 
}
.translate-button {
  margin-left: 1410px; 
}
.arabic{
  width: 55px;
  
}
.gif{
  width: 600px;
  margin-right: 450px;
  height: 300px;
  
 
}

#selectedImage {
  width: 600px;
  height: 400px;
  margin-right: 500px;
  margin-bottom: 10px;
}

#imageSelector {
  padding: 8px;
  font-size: 16px;
  margin-right: 650px;
  margin-top: 40px;
  width: 300px; 
  
}



.div{

  display: inline-block;
    
  margin-left: 500px;
}






