body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, goldenrod, black, midnightblue);
    direction: rtl;
    text-align: right;
}

ul {
    list-style-type: none;
    padding: 10px;
    background-color: midnightblue;
}

li {
    display: inline;
    margin-right: 20px;
}

a:hover {
    color: goldenrod;
}

a {
    color: #BDBDBD;
    text-align: center;
    padding: 50px;
    text-decoration: none;
}

.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    display: block; 
}

input,
select,
button {
    margin-bottom: 15px;
    padding: 10px;
    
}

button {
    background-color: mediumblue;
    color: white;
    cursor: pointer;
}

#msg {
    max-lines: 100;
    margin-bottom: 20px;
}


input[type="radio"] {
    display: inline-block;
    margin-right: 10px;
}

footer {
    background: linear-gradient(45deg, goldenrod, black, midnightblue);
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}
.newFooterSocialMediaIcon2{
    width: 150px;
    height: 50px;
}
